*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(beauty.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: white;
    padding: 5px;
    overflow: hidden;
}
.button-box{
    width: 220px;
    margin: 5px auto;
    position: relative;
    box-shadow: 0,0,20px,9px #9745241f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    background: transparent;
    cursor: pointer;
    border: 0;
    outline: none;
    position: relative;
    margin-left: 0px;
}
#btn{
    top: 0;
 left: 0;
    position: relative;
    width: 180px;
    height: 100%;
    border-radius: 30px;
    background:linear-gradient(to right, #ff105f,#ffad06);
    transition: 0,5s;
    margin-top: 8px;
}
.social-icons{
    margin: 30px auto;
    text-align: center;
}
.social-icons img{
    width: 30px;
    margin: 0 12px;
    box-shadow: wheat;
    cursor: pointer;
    border-radius: 5px;
}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px;
    outline: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    background: transparent;
}
.checkbox{
    margin: 30px 10px 30px 0;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}
::placeholder{
    color: black;
}